<div>
  <md-card>
    <md-card-header><md-card-title><h2>Sand Volleyball Leagues</h2></md-card-title></md-card-header>
    <!--<img md-card-image src="../../assets/vball_court.jpg" style="height: 500px;">-->
    <img md-card-lg-image src="../../assets/sand-volleyball-smile.jpg">
  </md-card>
  <md-card>
    <md-card-content>
      Fun in the sun! Our sand volleyball leagues boast 2 of the finest sand courts in the area for league play on Sunday-Thursday nights. With a huge deck area for lounging in the sun, there's no better way to spend the Summer than playing volleyball or relaxing with a cold drink at New Hope Bowl.
    </md-card-content>
  </md-card>
</div>
