<div>
  <md-card>
    <img md-card-image src="../../assets/volleyball_sunset.jpeg" style="height: 400px">
  </md-card>
  <md-grid-list cols="1" rowHeight="20:1">
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="4">
      <md-card style="width: 100%">
      <md-card-header><h2>Lineups</h2></md-card-header>
      <md-card-content>
        <md-list>
          <md-list-item>
            Teams will consist of 6 players.  A legal lineup will consist of at least 4 people (2 of which must be female) on the court at all times.  Teams must not play with more than 3 guys.  If a team cannot field a legal lineup, the match is forfeit.  The 2 teams may play, but the team that is forfeiting will receive no points and no wins.
          </md-list-item>
          <md-list-item>
            Players will rotate in a clockwise fashion when possession of the ball changes to their side.
          </md-list-item>
          <md-list-item>
            Only players in the front row (near the net) may switch positions, and only after the ball is served.  They must switch back to their original spots at the end of the volley.
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="6">
      <md-card style="width: 100%">
        <md-card-header><h2>The Serve</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              The HOME team will have the choice to serve first or to choose which side of the court to play on first. The AWAY team has the remaining option.
            </md-list-item>
            <md-list-item>
              The player serving the ball must be in the rear-right position.
            </md-list-item>
            <md-list-item>
              The server must put the ball in play from behind the rear boundary line.  -Stepping on or over the line on a serve is a foul.
            </md-list-item>
            <md-list-item>
              The ball may be served overhand or underhand, but it must be completely visible to opponents before the serve.
            </md-list-item>
            <md-list-item>
              If the ball touches the net on a serve, but goes into the opponent’s side of the court it is considered a live ball.
            </md-list-item>
            <md-list-item>
              Players on the opposing team may not block or attack a serve.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="6">
      <md-card style="width: 100%">
        <md-card-header><h2>The Volley</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              Each team has 3 hits to return the ball over the net.  When using 3 hits to return the ball, it MUST be played at least once by a female player.  If the ball hits the net and goes over it is still in play, and must be returned by the opposing team.
            </md-list-item>
            <md-list-item>
              No player may hit the ball twice in succession.  (Blocking a spike at the net is not considered a hit)
            </md-list-item>
            <md-list-item>
              A ball that touches a boundary line is fair.
            </md-list-item>
            <md-list-item>
              A legal hit is any ball contact by a player’s body above and including the waist which does not allow the ball to visibly come to rest.
            </md-list-item>
            <md-list-item>
              If two or more players contact the ball at the same time it is considered one hit and the players involved may not participate in the next hit.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="11">
      <md-card style="width: 100%">
        <md-card-header><h2>Fouls</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              Stepping on or over the rear boundary line on a serve.
            </md-list-item>
            <md-list-item>
              Failure to serve the ball over the net legally.
            </md-list-item>
            <md-list-item>
              A return volley of three hits without at least one hit by a female player.
            </md-list-item>
            <md-list-item>
              Hitting the ball illegally. (carrying, throwing, kicking, etc…)
            </md-list-item>
            <md-list-item>
              Touching the net with any part of the body while the ball is in play.  If the ball is driven into the net with enough force to contact an opposing player, no foul is called, and the ball shall remain in play.
            </md-list-item>
            <md-list-item>
                <p md-line>Reaching over the net, with the following exceptions:</p>
                <p md-line style="padding-left: 2em;">1.  When executing a follow-through.</p>
                <p md-line style="padding-left: 2em;">2.  When blocking a ball which is being returned from the opponents’ court. (The blocker must not contact the ball until after the opponent attempting the return makes contact)</p>
            </md-list-item>
            <md-list-item>
              Reaching under the net to interfere with the opposing team.
            </md-list-item>
            <md-list-item>
              Failure to serve in the correct order.
            </md-list-item>
            <md-list-item>
              Entering the opponent’s side of the court at any time during play.
            </md-list-item>
            <md-list-item>
              Blocking or spiking by a back row player from position less than 10 feet from the net.
            </md-list-item>
            <md-list-item>
              Arguing with, and other disrespect for officials will not be tolerated and can result in penalties.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="4">
      <md-card style="width: 100%">
        <md-card-header><h2>The Court</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              The courts will be 30 feet wide by 60 feet long.
            </md-list-item>
            <md-list-item>
              Nylon straps will mark the boundary lines…be careful as they can be a tripping hazard!
            </md-list-item>
            <md-list-item>
              The net will be set at a height of 7 feet, 8 inches.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="6">
      <md-card style="width: 100%">
        <md-card-header><h2>Scoring</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              Rally scoring will be used. (One point will be scored on every volley)
            </md-list-item>
            <md-list-item>
              The team serving the ball will score when the opposing team fails to return or sends the ball out of bounds.
            </md-list-item>
            <md-list-item>
              The team receiving the serve will score when the opposing team fails to serve the ball over the net, hits the ball out of bounds, or fails to return the ball during a volley.
            </md-list-item>
            <md-list-item>
              Games will be played to 21 points.   A team MUST win by 2 points.  During the 3rd game teams will switch sides for every 10 points (combined) that are scored.
            </md-list-item>
            <md-list-item>
              3 games will be played and count for statistics each week.  If the 3rd game cannot be completed in time, the referee will decide what score the teams need to reach in order to win.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="6">
      <md-card style="width: 100%">
        <md-card-header><h2>Playoffs</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              <p md-line> The standings will be determined by win/loss record.  In the event of a tie between two or more teams, the tie will be broken in the following manner: </p>
              <p md-line style="padding-left: 2em;">1.  Head-to-Head record</p>
              <p md-line style="padding-left: 2em;">2.  Divisional W/L record</p>
              <p md-line style="padding-left: 2em;">3.  Point differential</p>
            </md-list-item>
            <md-list-item>
              After 10 weeks of play, the playoff seedings will be determined.  The division winners will get the 1 and 2 seeds based on records, and the remaining 6 teams will be seeded 3-8 based on records.  Playoffs last three weeks, and are set up so that every team can play for all 3 weeks…yes, there is a match to determine 7th and 8th place!
            </md-list-item>
            <md-list-item>
              At the end of the playoffs, the Lower level champion and the Upper level 8th place team will be designated to switch with each other the following season.  This way no team can dominate the Lower level every season, and teams that struggle in the Upper level may find more even competition.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
    <md-grid-tile rowspan="5">
      <md-card style="width: 100%">
        <md-card-header><h2>Conduct</h2></md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              Leagues are intended for people 21 years of age or older.  No one under the age of 21 will be allowed in the bar, on the deck area, or on the courts at any time.  There are NO EXCEPTIONS to this rule.
            </md-list-item>
            <md-list-item>
              Please refrain from using coarse language, littering on the grounds, and anything else which will interfere with the enjoyment of those around you.
            </md-list-item>
            <md-list-item>
              It is NOT acceptable to bring any glass containers onto the playing courts.  Yes, this includes beer bottles.  Plastic/aluminum is ok, but pick up after yourselves…you wouldn’t want the teams ahead of you messing up your court would you?
            </md-list-item>
            <md-list-item>
              Maintain a reasonable level of noise when staying out on the deck area after 10 PM…we are subject to the same laws as the rest of the neighborhood!  The main lights will be shut off at 10 PM and further play on the courts will be prohibited.
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile></md-grid-tile>
  </md-grid-list>
</div>
