<div>
  <md-card>
    <img md-card-image src="../../assets/stormy.jpg" style="height: 400px">
  </md-card>
  <md-grid-list cols="3" rowHeight="1.6:1">
    <md-grid-tile colspan="2">
      <md-card>
        <md-card-header><md-card-title><h2>Weather Policy</h2></md-card-title></md-card-header>
        <md-card-content>
          <p>
          We will try to play all games unless there is significant downpour or lightning. To keep the leagues on pace and to prevent rescheduling into the next season, rainouts will not be made up.  If a match gets rained out after the match has started, the team that is leading at that time will be awarded the win.
          </p>
          <span></span>
          <p>
            We will only cancel out of concern for safety or visibility, so please respect the referees and administrations who make the call.
          </p>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile colspan="2">
      <md-card>
        <md-card-header><md-card-title><h2>Cancellation Information</h2></md-card-title></md-card-header>
        <md-card-content>
          A cancellation will be posted on the New Hope Bowl Facebook page and on our home page news feed by 4pm the day of a match. If there is no cancellation message, games will go on as scheduled.
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
