<div>
  <md-card>
    <img md-card-image src="../../assets/birthday_parties.png" style="height: 300px">
  </md-card>
  <md-toolbar>7107 42nd Avenue N | New Hope, MN 55427 | (763) 537-9376</md-toolbar>
  <md-grid-list cols="2" rowHeight=".9:1">
    <md-grid-tile>
      <md-card>
        <md-card-header>
          <md-card-title><h2>2-Hour Package for Kids!!!</h2></md-card-title>
        </md-card-header>
        <img md-card-lg-image src="../../assets/bowling_birthday.jpg">
        <md-card-content>
          <md-list>
            <md-list-item><b>Cost: $105.95 for up to 8 children </b></md-list-item>
            <md-list-item>$12 for each additional child</md-list-item>
            <md-list-item>Ice Cream may be added to party packages - A La Carte!</md-list-item>
          </md-list>

        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card>
        <md-card-header>
          <md-card-title><h2>Package Includes:</h2></md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>2 lanes of bowling for one hour</md-list-item>
            <md-list-item>Party invitations & envelopes</md-list-item>
            <md-list-item>Birthday place settings</md-list-item>
            <md-list-item>Custom birthday cake</md-list-item>
            <md-list-item>Bowling pin candles</md-list-item>
            <md-list-item>Unlimited soda during pizza/cake service</md-list-item>
            <md-list-item>Free use of rental shoe</md-list-item>
            <md-list-item>A free game pass for each child</md-list-item>
            <md-list-item>An XL 1-topping pizza</md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
