<div>
  <md-toolbar>
    <div *ngFor="let menuItem of mainMenu">
      <button md-button md-ripple (click)="selectMenu(menuItem)" type="button" >
        {{menuItem}}
      </button>
    </div>
  </md-toolbar>
  <div *ngIf="selectedMenu=='Weddings'">
    <weddings-home-component></weddings-home-component>
  </div>
  <div *ngIf="selectedMenu=='Additional Services'">
    <weddings-additional-services-component></weddings-additional-services-component>
  </div>
  <div *ngIf="selectedMenu=='Testimonials'">
    <weddings-testimonials-component></weddings-testimonials-component>
  </div>
  <div *ngIf="selectedMenu=='Get Started'">
    <weddings-get-started-component></weddings-get-started-component>
  </div>
</div>
