<div>
  <md-toolbar>
    <div *ngFor="let menuItem of mainMenu">
      <button md-button md-ripple (click)="selectMenu(menuItem)" type="button" >
        {{menuItem}}
      </button>
    </div>
  </md-toolbar>
  <div *ngIf="selectedMenu=='Weddings'">
    <md-card>
      <img md-card-image src="../../assets/wedding-setup.png" style="height: 400px">
    </md-card>

    <md-grid-list cols="9" rowHeight="450px">
      <!--ROW 1-->
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <md-card-title>Wedding Receptions</md-card-title>
          <md-card-content>
            <md-list dense>
              <md-list-item>One low, all-inclusive price of $30 per guest.</md-list-item>
              <md-list-item>Wedding reception facilities are available May - August and can accommodate up to 250 guests.</md-list-item>
              <md-list-item>Entire facility dedicated exclusively to your reception (for 125+ guests)</md-list-item>
              <md-list-item>Dinner: Prepared by our own Chef Husnik--a graduate of the prestigious School of Culinary Arts</md-list-item>
              <md-list-item>Tables/Linens</md-list-item>
              <md-list-item>Taxes/Gratuities</md-list-item>
              <md-list-item>Unlimited bowling & shoe rental from conclusion of dinner until midnight</md-list-item>
              <md-list-item>Certain meal choices and additional beverage options are available for an additional fee.</md-list-item>
            </md-list>
          </md-card-content>
          <md-card-footer></md-card-footer>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <img md-card-image src="../../assets/wedding-food.png" style="height: 350px;">
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <!--ROW 2-->
    </md-grid-list>
  </div>
  <div *ngIf="selectedMenu=='Additional Services'">
    <md-grid-list cols="9" rowHeight="450px">
      <!--ROW 1-->
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <md-card-title>Day Of Coordinator - $500</md-card-title>
          <md-card-content>
            <md-list dense>
              <md-list-item>Create a customized day-of schedule for every minute from start to finish.</md-list-item>
              <md-list-item>Point of contact for all reception vendors.</md-list-item>
              <md-list-item>Coordinate all arrivals and pickups for reception flowers, catering, cake, hotel, decor, etc...</md-list-item>
              <md-list-item>Reception decor consultation and setup</md-list-item>
              <md-list-item>Transportation coordination</md-list-item>
              <md-list-item>3 consultations to discuss overall vision, vendor/decor coordination, and conduct final walkthrough.</md-list-item>
              <md-list-item>$250 for full day coordination, including ceremony</md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <md-card-title>DJ Services - $500</md-card-title>
          <img md-card-md-image src="../../assets/wedding-dancing.png">
          <md-card-content>
            <md-list dense>
              <md-list-item>Custom playlist for both dinner and dancing.</md-list-item>
              <md-list-item>Synchronized lights and lasers.</md-list-item>
              <md-list-item>MC from bridal party entry through last call.</md-list-item>
              <md-list-item>A consultation meeting to discuss style, specific songs, dances, and overall flow of the night.</md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <!--ROW 2-->
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <md-card-title>Wedding Cake</md-card-title>
          <img md-card-xl-image src="../../assets/cake.png">
          <md-card-content>
            <br><br>
              We'll work with your budget and style to find a cake that will work for you.
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 350px; width: 400px">
          <md-card-title>Photography</md-card-title>
          <img md-card-xl-image src="../../assets/sit-wherever.png">
          <md-card-content>
            <br><br>
            We have contacts with many reputable photographers around the cities that can fit any budget.
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <!--ROW 3-->
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 150px; width: 400px">
          <md-card-title>Decorations</md-card-title>
          <md-card-content>
            <md-list dense>
              Whether glamorous or thrifty, we can help make it happen.  Pricing varies depending on needs.
            </md-list>
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
      <md-grid-tile colspan="3">
        <md-card style="height: 150px; width: 400px">
          <md-card-title>Flowers</md-card-title>
          <md-card-content>
            Beautiful bouquets from local florists.  We can work with you to come up with something that fits your colors and style.
          </md-card-content>
        </md-card>
      </md-grid-tile>
      <md-grid-tile></md-grid-tile>
    </md-grid-list>
  </div>
  <div *ngIf="selectedMenu=='Testimonials'">
    <md-card>
      <img md-card-lg-image src="../../assets/wedding-bowling.png" style="height: 300px; width: 400px;">
      <img md-card-lg-image src="../../assets/wedding-dancing-2.png" style="height: 300px; width: 400px;">
      <img md-card-lg-image src="../../assets/cake.png" style="height: 300px; width: 400px;">
    </md-card>
    <br><br>
    <md-card>
      <md-card-content>
      I can't believe how easy New Hope Bowl made our day.  Working with Chris for our custom menu was amazing, he catered to our Greek style wedding with a build your own Gyro bar with ease.  Everyone absolutely loved the food.  We were also able to set up our decorations the day before and simply had to show Andrea our centerpieces and they set them up for us the next day.  The biggest hit, however, was the bowling.  EVERYONE bowled and had an absolute blast doing so.  We also had a big basket of fun socks for our gift and everyone loved them.  I can't believe how far our budget was able to go and the level of expertise and delivery for that price.  I would highly recommend them to anyone.
        <br><br>
        - Jake
      </md-card-content>
    </md-card>
    <br><br>
    <md-card>
      <md-card-content>
        We were able to go from start to finish in as little as two months, thanks to New Hope Bowl.  We opted to have Kristina help us with the coordination, and it was the best money I spent.  The day went flawlessly, and the planning was executed perfectly.  Chris made a delicious chicken marsala and the service was fantastic.  We created a specialty drink for the night and the bar had no problems fulfilling our needs.  What a great night!
        <br><br>
        - Holly
      </md-card-content>
    </md-card>
    <br><br>
    <md-card>
      <md-card-content>
        What a perfect end to our special day.  The DJ we got was amazing, and about 1/2 the price of anyone else around town.  Everyone had a great time bowling, and we were able to include a couple kegs and cases of wine for our guests at a very reasonable price.  We were able to get suggestions for photographers, cakes, decorations, and florists that all fit our budget.  All in all we were able to pay for our entire wedding for less than most venues were charging just for the room rental.  Everyone was amazed at how transformed the entire venue became and how amazing the service was.  I couldn't be happier.
        <br><br>
        - Sam
      </md-card-content>
    </md-card>
  </div>
  <div *ngIf="selectedMenu=='Get Started'">
    <md-card style="width: 50%">
      <md-card-content>
        Are you interested in having your reception here? Please take a moment to provide us with some information so that we can help you get started. Some information is not required yet, but please answer as much as you can to help us assist you.
      </md-card-content>
    </md-card>
    <h2>Contact Information</h2>
    <table cellspacing="1" style="width: 75%">
      <tr>
        <td><md-input-container style="width: 100%">
          <input mdInput placeholder="First Name" [(ngModel)]="firstName" required>
        </md-input-container></td>
        <td><md-input-container style="width: 100%">
          <input mdInput placeholder="Last Name" [(ngModel)]="lastName" required>
        </md-input-container></td>
      </tr>
      <tr>
        <td><md-input-container style="width: 100%">
          <input mdInput email placeholder="Email" [(ngModel)]="email" required>
        </md-input-container></td>
        <td><md-input-container style="width: 100%">
          <input [textMask]="{mask: telephoneMask}" type="tel" mdInput placeholder="Phone" [(ngModel)]="phone" required>
        </md-input-container></td>
      </tr>
      <tr>
        <td><md-input-container style="width: 100%">
          <input mdInput placeholder="Number of Guests" [(ngModel)]="numberOfGuests" required>
        </md-input-container></td>
      </tr>
    </table>
    <h2>Dinner Selection</h2>
    <table cellspacing="1" style="width: 75%">
      <tr>
        <td>
          <md-select placeholder="Entree" [(ngModel)]="selectedEntree" style="width: 100%">
            <md-option *ngFor="let entree of entreeMenu" [value]="entree.name" >{{entree.name}}</md-option>
          </md-select>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td style="width: 100%">
          <md-select placeholder="Salad" [(ngModel)]="selectedSalad" style="width: 100%">
            <md-option *ngFor="let salad of saladMenu" [value]="salad.name" >{{salad.name}}</md-option>
          </md-select>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td style="width: 100%">
          <md-select placeholder="Starch" [(ngModel)]="selectedStarch" style="width: 100%">
            <md-option *ngFor="let starch of starchMenu" [value]="starch.name" >{{starch.name}}</md-option>
          </md-select>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td style="width: 100%">
          <md-select placeholder="Vegetable" [(ngModel)]="selectedVegetable" style="width: 100%">
            <md-option *ngFor="let vegetable of vegetableMenu" [value]="vegetable.name" >{{vegetable.name}}</md-option>
          </md-select>
        </td>
      </tr>
    </table>
    <h2>Additional Services</h2>
    <section>
      <md-checkbox [(ngModel)]="dayOfCoordinator" style="margin: 0 10px">Day of Coordinator</md-checkbox>
      <md-checkbox [(ngModel)]="djServices" style="margin: 0 10px">Dj Services</md-checkbox>
      <md-checkbox [(ngModel)]="weddingCake" style="margin: 0 10px">Wedding Cake</md-checkbox>
      <md-checkbox [(ngModel)]="photography" style="margin: 0 10px">Photography</md-checkbox>
      <md-checkbox [(ngModel)]="decorations" style="margin: 0 10px">Decorations</md-checkbox>
      <md-checkbox [(ngModel)]="flowers" style="margin: 0 10px">Flowers</md-checkbox>

    </section>

    <h2>Comments/Questions</h2>
      <md-input-container style="width: 50%">
        <textarea rows="6" mdInput placeholder="Message" [(ngModel)]="message" required></textarea>
      </md-input-container>

    <br><br>
    <button md-raised-button md-ripple (click)="submitWeddingReqeust()">Submit</button>
  </div>
</div>
