<div>
  <md-card>
  <img md-card-image src="../../assets/moonlight_bowling.jpeg" style="height: 400px">
  </md-card>
  <md-grid-list cols="2" rowHeight="1.5:1">
    <md-grid-tile *ngIf="onVacation">
      <md-card>
        <md-card-header>
          <md-card-title><h2>Moonlight Bowling is On Vacation</h2></md-card-title>
        </md-card-header>

        <img md-card-lg-image src="../../assets/moonlight_pins.gif">
        <md-card-content>
          Moonlight Bowling runs from October through April. During the summer months it is only available for LARGE groups. Have a group of 40 or more? Call us to set something up!
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile *ngIf="onVacation"></md-grid-tile>
    <md-grid-tile >
      <md-card>
        <md-card-header>
          <md-card-title><h2>Moonlight Bowling Playing Rules</h2></md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense *ngFor="let rule of rules">
            <md-list-item>
              <md-icon md-list-icon><svg style="width:20px;height:24px;" viewBox="0 0 24 24"><!--bowling icon-->
                <path fill="#000000" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12.5,11A1.5,1.5 0 0,0 11,12.5A1.5,1.5 0 0,0 12.5,14A1.5,1.5 0 0,0 14,12.5A1.5,1.5 0 0,0 12.5,11M12,5A2,2 0 0,0 10,7A2,2 0 0,0 12,9A2,2 0 0,0 14,7A2,2 0 0,0 12,5M5.93,8.5C5.38,9.45 5.71,10.67 6.66,11.22C7.62,11.78 8.84,11.45 9.4,10.5C9.95,9.53 9.62,8.31 8.66,7.76C7.71,7.21 6.5,7.53 5.93,8.5Z" /></svg></md-icon>
              {{rule}}
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <!--<md-card>-->
        <!--<img md-card-lg-image src="../../assets/moonlight_pins.gif">-->
      <!--</md-card>-->
    </md-grid-tile>
  </md-grid-list>
  <md-divider></md-divider>
  <md-grid-list cols="3" rowHeight="1:1">
    <div *ngFor="let win of moonlightWins">
    <md-grid-tile>
      <md-card style="height: 300px; width: 250px;">
        <md-card-header>
          <md-card-title><h3>{{win.amount}}</h3></md-card-title>
        </md-card-header>
        <img md-card-xl-image [src]=win.img>
        <md-card-footer>{{win.description}}</md-card-footer>
      </md-card>
    </md-grid-tile>
    </div>
  </md-grid-list>
</div>
