<div>
  <md-card>
    <img md-card-image src="../../assets/bowling_balls.jpg" style="height: 400px;">
  </md-card>
  <br><br>
  <md-grid-list cols="3" rowHeight="2.5:1">
    <div *ngFor="let bowlingTime of openBowling | uniqueday">
      <md-grid-tile >
        <md-card style="height: 75px; width: 175px;">
          <md-card-header>
            <div md-card-avatar><svg style="width:24px;height:24px;" viewBox="0 0 24 24"><!--bowling icon-->
              <path fill="#000000" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12.5,11A1.5,1.5 0 0,0 11,12.5A1.5,1.5 0 0,0 12.5,14A1.5,1.5 0 0,0 14,12.5A1.5,1.5 0 0,0 12.5,11M12,5A2,2 0 0,0 10,7A2,2 0 0,0 12,9A2,2 0 0,0 14,7A2,2 0 0,0 12,5M5.93,8.5C5.38,9.45 5.71,10.67 6.66,11.22C7.62,11.78 8.84,11.45 9.4,10.5C9.95,9.53 9.62,8.31 8.66,7.76C7.71,7.21 6.5,7.53 5.93,8.5Z" /></svg></div>
            <md-card-title><h3 md-subheader>{{bowlingTime.day}}</h3></md-card-title>
          </md-card-header>
            <md-card-content>
            <div *ngFor="let dayTime of getBowlingTimes(bowlingTime.day)">
              {{dayTime.startTime}} - {{dayTime.endTime}} {{dayTime.price}}
            </div>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </div>
    <md-grid-tile colspan="2">
      <md-card>
        <md-card-content>All prices are per game, per person. Please note: the times listed are the GENERAL open bowling times. These times are subject to change without notice. It is always best to call ahead to check times for specific dates.
          Bowling shoes MUST be worn!

          Shoe Rental is always $3.50
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>

